<!DOCTYPE html> 
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>
         PlantCare {% block title %}{% endblock %} 
      </title>
      <link rel="stylesheet" type="text/css" href="styles.css">
      <style>
         /* CSS styles go here */
         body {
           background-color: #bbcea8; /* Forest Green */
         }
     
         .container {
           background-color: #96b379; /* Sage Green */
         }
      </style>
    <!-- here you can add the stylesheets-->
    <!-- here you can add the javascripts-->
   </head>
   <body>
      {% include 'includes/header.html' %} 
     
      {% block content %}
      <div class="container">
         
         
       </div>
     
      
      {% endblock content %}

      
     {% include 'includes/footer.html' %}
   </body>
</html>